.DefinitionListHeader {
  position: sticky;
  top: 0;
  width: auto;
  height: auto;
  padding: 0 1em;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  background-color: #9a2e00;

  a {
    color: #fff;
    font-family: var(--font-family__header--campaign, var(--font-family__header, "Almendra",  TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif));
    text-decoration: none;
    font-size: large;
  }

  &_Item {
    display:inline-block;
    font-variant: small-caps;

    &:not(:first-of-type) {
      margin-left: 1em;
    }
  }
}
