.DefinitionList {
    margin: 0;
    height: 100%;
    overflow: visible;
    position: sticky;
    position: -webkit-sticky;
    width: auto;
}

.DefinitionList_Content {
    margin-top: 0px;
    overflow: auto;
    padding: 12px;
    box-sizing: border-box;
}

.DefinitionList_Content p {
    margin: 0.5em 0 0;
}

.DefinitionList_Content p + p {
    text-indent: 0;
}