.DefinitionListItemHeader {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 140%;
    margin-top: 15px;
}

.DefinitionListItemHeader a {
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    font-size: large;
}